h1,h2,h3,h4,h5,h6,p,a,button {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 1.5 !important;
  margin: 0;
}
span {
  font-weight: bold;
}

/* Color Opt */
:root {
  --color-1: #004266;
  --color-2: #ffd100;
  --color-3: #000000;
  --color-4: #fafafa;
  --color-5: #2e2e2e;
}
/* End : Color Opt */

/* Input Utility */
/* input:valid {border: solid greenyellow 3px;} */
/* input:invalid {border: solid red 3px;} */
/* End : Input Utility */

/* Button Utility */
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 1.5 !important;
  background-color: var(--color-1);
  border-radius: 0.5rem;
  color: var(--color-2);
  padding: 0.2rem 0.5rem;
}
.button:hover {
  background-color: var(--color-3);
  color: var(--color-2);
}
/* End : Button Utility */

/* Navbar */
.navbar {
  background-color: var(--color-4) !important;
}
.navbar a {
  color: var(--color-1) !important;
  letter-spacing: 0.1rem;
}
.navbar a:hover {
  color: var(--color-2) !important;
}
.nav-link .active::after {
  color: var(--color-1) !important;
}
/* End : Navbar */

/* Carousel */
.carousel {
  background-color: var(--color-1);
  color: var(--color-4);
  padding: 8rem 0 4rem 0;
}
.carousel-item {
  text-align: center;
}
.carousel-btn {
  padding: 8rem 0 4rem 0;
}

/* End : Carousel */

/* Upload */
#upload {
  background-color: var(--color-2);
  padding: 8rem 0 4rem 0;
}
.box-image {
  padding: 2rem;
  height: 160px;
  text-align: center;
  background-color: var(--color-4);
}
.progress-bar {
  background-color: var(--color-1);
  height: 1rem;
  width: 50%;
}
/* End : Upload */

/* Answer List */
#answer {
  background-color: var(--color-1);
  color: var(--color-4);
  padding: 8rem 0 4rem 0;
}
.answer-box {
  text-decoration: none !important;
  background-color: var(--color-4);
  border-radius: 10px;
  color: var(--color-3) !important;
  padding: 0.2rem 0.5rem;
  width: 100% !important;
}
/* End : Answer List */

/* Deskripsi Pertanyaan */
#desc {
  background-color: var(--color-2);
  padding: 8rem 0 4rem 0;
}
.box-image {
  padding: 2rem;
  height: 160px;
  text-align: center;
  background-color: var(--color-4);
}
.progress-bar {
  background-color: var(--color-1);
  height: 1rem;
  width: 50%;
}
/* End : Deskripsi Pertanyaan */

/* Jawaban Tertampil */
#answer-show {
  background-color: var(--color-1);
  color: var(--color-4);
  padding: 8rem 0 4rem 0;
}
.image-box {
  background-color: var(--color-4);
  height: 400px;
  border-radius: 10px;
  color: var(--color-3);
  padding: 0.2rem 0.5rem;
}
/* End : Jawaban Tertampil */

/* Other Materials */
#materials {
  background-color: var(--color-2);
  padding: 8rem 0 4rem 0;
}
.img-materi {
  background-color: var(--color-3);
  border-radius: 20px 20px 0 0;
  height: 200px;
}
.materi-class {
  background-color: var(--color-4);
  border-radius: 0 0 20px 20px;
  height: 100px;
  text-align: center;
  padding: 1rem 0.5rem 0.5rem;
}
/* End : Other Materials */

/* Footer */
#footer {
  background-color: var(--color-5);
  color: var(--color-4);
  padding: 1rem 0;
}
/* End : Footer */

/* Media Queries */
@media (max-width: 991.98px) {
  .jumbotron, #manuals, #experiments {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #manuals .step-class {
    margin-top: 1.5rem;
    text-align: center;
  }
  #nav-tabContent {
    text-align: center;
  }
  #experiments .guide-col {
    margin-top: 1rem;
  }
}
/* End : Media Queries */